@use "../../../sass/variables/breakpoints";
@use "../../../sass/variables/spacings";
@use "../../../sass/variables/colors";

.form {
  &__container {
    width: 100%;
    @media (min-width: breakpoints.$big) {
      width: 48%;
    }

    & * {
      display: block;
      width: 100%;
    }

    &--full-width {
      width: 100%;
    }
  }

  &__label {
    margin-bottom: 0.3rem;
  }

  &__input {
    padding: 0.8rem 0.8rem;
    background-color: colors.$secondary;
    border: 1px solid rgba(11, 15, 19, 0.229);
    border-radius: spacings.$rad-small;
    width: 100%;
    transition: 0.2s;

    @media (min-width: breakpoints.$big) {
      max-width: 100%;
    }

    &:focus {
      border-color: colors.$typography;
    }
  }
}

textarea {
  min-height: 10rem;
}
