@use "../../sass/variables/breakpoints";
@use "../../sass/variables/spacings";
@use "../../sass/variables/colors";

.form {
  display: flex;
  flex-direction: column;
  gap: spacings.$medium;

  @media (min-width: breakpoints.$big) {
    max-width: 36rem;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }
}
