@use "../../sass/variables/colors";
@use "../../sass/variables/breakpoints";
@use "../../sass/variables/spacings";

.heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  color: colors.$secondary;
  background-color: colors.$typography;
  width: 100%;
  padding: calc(spacings.$big * 1.5) 0;
  margin-bottom: spacings.$big;
  margin-top: -5rem;
  z-index: -1;

  box-shadow: 0 0 0 100vmax colors.$typography;
  clip-path: inset(0 -100vmax);
  min-height: 70vh;

  transition: 0.1s ease;

  @media (min-width: breakpoints.$medium) {
    min-height: 40vh;
  }
}
