@use "../../sass/variables/breakpoints";
@use "../../sass/variables/spacings";

.app {
  margin: 0 auto;
  max-width: breakpoints.$small;
  padding: spacings.$medium;

  @media (min-width: breakpoints.$small) {
    max-width: breakpoints.$medium;
  }

  @media (min-width: breakpoints.$medium) {
    max-width: breakpoints.$big;
  }
}
