@use "../../sass/variables/breakpoints";
@use "../../sass/variables/spacings";

.app {
  margin: 0 auto;
  max-width: breakpoints.$small;
  padding: 0 spacings.$medium;
  position: relative;
  padding-bottom: 6rem;
  min-height: 100vh;

  @media (min-width: breakpoints.$small) {
    max-width: breakpoints.$medium;
  }

  @media (min-width: breakpoints.$medium) {
    max-width: breakpoints.$big;
  }
}
