@use "../../sass/variables/spacings";
@use "../../sass/variables/colors";

.header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  height: 5rem;
  color: colors.$secondary;
  font-weight: bold;
}

.main {
  display: flex;
  flex-wrap: wrap;

  &__content {
    width: 75%;
    padding-right: spacings.$big;
  }

  &__sidebar {
    width: 25%;
  }
}
