@use "../../sass/variables/spacings";
@use "../../sass/variables/colors";

.header {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  height: 5rem;
  color: colors.$secondary;
  font-weight: bold;
}

.main {
  display: flex;
  flex-wrap: wrap;

  &__content {
    width: 75%;
    padding-right: spacings.$big;
  }

  &__sidebar {
    width: 25%;
  }
}

.footer {
  position: absolute;
  display: flex;
  align-items: flex-end;
  padding-bottom: spacings.$medium;
  height: 6rem;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
