$primary: rgb(249, 252, 255);

$secondary: rgb(231, 223, 198);

$typography: rgb(11, 15, 19);
$typography--lighter: rgb(34, 46, 57);

$error: rgb(181, 35, 35);
$error--lighter: rgb(196, 173, 173);

$success: rgb(8, 168, 48);
