@use "../../sass/variables/spacings";
@use "../../sass/variables/colors";

.sidebar {
  width: 100%;
  padding: spacings.$big;
  box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.1);
  background-color: colors.$primary;

  &__cta {
    margin-left: auto;
  }
}
