@use "../../../sass/variables/colors";
@use "../../../sass/variables/spacings";
@use "../../../sass/variables/breakpoints";

.errors {
  margin-top: spacings.$big;

  @media (min-width: breakpoints.$big) {
    max-width: 36rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: spacings.$medium;
  }

  &__message {
    padding: 0.4rem 1rem;
    border: 1px solid colors.$error;
    background-color: colors.$error--lighter;
    border-radius: spacings.$rad-small;
  }
}
